.u-center-text{
    text-align: center !important;
}


.u-margin-bottom-xsm{margin-bottom: 5rem !important;}
.u-margin-bottom-sm{margin-bottom: 2rem !important;}
.u-margin-bottom-md{margin-bottom: 4rem !important;

    @include respond(tab-port){
        margin-bottom: 3rem !important;
    }

}
.u-margin-bottom-lg{margin-bottom: 8rem !important;

    @include respond(tab-port){
        margin-bottom: 5rem !important;
    }

}



.u-margin-top-lg{margin-top: 20rem !important;

    @include respond(tab-port){
        margin-top: 15rem !important;
    }


}
.u-margin-top-md{margin-top: 10rem !important;

    @include respond(tab-port){
        margin-top: 8rem !important;
    }


}